<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
</head>
<body>
<h1>회원가입</h1>
<hr>
<form action="/user/sign-up" method="post">
    <label style="display: block; margin-bottom: 5px">
        아이디:
        <input type="text" name="username" placeholder="아이디입력" />
    </label>
    <label style="display: block; margin-bottom: 5px">
        비밀번호:
        <input type="password" name="password" placeholder="비밀번호" />
    </label>
    <label style="display: block; margin-bottom: 5px">
        비밀번호 확인:
        <input type="password" name="passwordCheck" placeholder="비밀번호 확인" />
    </label>
    <button type="submit">회원가입</button>
</form>
</body>
</html>